<%- include("../views/partials/header"); %>

<!-- HERO -->
<section class="hero d-flex flex-column justify-content-center align-items-center" id="home">

    <div class="bg-overlay"></div>

       <div class="container" id="home">
            <div class="row">

                 <div class="col-lg-8 col-md-10 mx-auto col-12">
                      <div class="hero-text mt-5 text-center">

                            <h6 data-aos="fade-up" data-aos-delay="300">new way to build a healthy lifestyle!</h6>

                            <h1 class="text-white" data-aos="fade-up" data-aos-delay="500">Upgrade your body at Fitness Forum</h1>

                            <a href="/#feature" class="btn custom-btn mt-3" data-aos="fade-up" data-aos-delay="600">Get started</a>

                            <a href="/#about" class="btn custom-btn bordered mt-3" data-aos="fade-up" data-aos-delay="700">learn more</a>

                      </div>
                 </div>

            </div>
       </div>
</section>


<section class="feature" id="feature">
<div class="container">
    <div class="row">

        <div class="d-flex flex-column justify-content-center ml-lg-auto mr-lg-5 col-lg-5 col-md-6 col-12">
            <h2 class="mb-3 text-white" data-aos="fade-up">New to Fitness Forum?</h2>

            <h6 class="mb-4 text-white" data-aos="fade-up">Please take our one day trial class for free!</h6>

            <p data-aos="fade-up" data-aos-delay="200">Fitness Forum is committed to transform your life to a healthy life using a consultative approach by providing a combination of different fitness regimen along with diet and physio advices. Transform your body by partnering with us.</p>

            <a href="" class="btn custom-btn bg-color mt-3" data-aos="fade-up" data-aos-delay="300" data-toggle="modal" data-target="#membershipForm">Become a member today</a>
        </div>

        <div class="mr-lg-auto mt-3 col-lg-4 col-md-6 col-12">
             <div class="about-working-hours">
                  <div>

                        <h2 class="mb-4 text-white" data-aos="fade-up" data-aos-delay="500">Working hours</h2>

                       <strong class="d-block" data-aos="fade-up" data-aos-delay="600">Sunday</strong>

                        <p data-aos="fade-up" data-aos-delay="800">6:00 AM - 11:00 AM</p>

                       <strong class="mt-3 d-block" data-aos="fade-up" data-aos-delay="700">Monday - Saturday</strong>

                        <p data-aos="fade-up" data-aos-delay="800">5:00 AM - 9:00 PM</p>
                       </div>
                  </div>
             </div>
        </div>

    </div>
</div>
</section>


<!-- ABOUT -->
<section class="about section" id="about">
       <div class="container">
            <div class="row">

                    <div class="mt-lg-5 mb-lg-0 mb-4 col-lg-5 col-md-10 mx-auto col-12">
                        <h2 class="mb-4" data-aos="fade-up" data-aos-delay="300">Hello, we are Fitness Forum</h2>

                        <p data-aos="fade-up" data-aos-delay="400">We at Fitness Forum strongly believe that an exercise plan is not restricted to one fitness regime. A good exercise plan is based on science and we deliver our exercise plan with different fitness regimen with diet charts and physiotheraphy that suits individual needs. We also track the progress at individual level and advice as per the progress. </p>

                        <p data-aos="fade-up" data-aos-delay="500">Our expert trainers, nutritionist and physios will guide and motivate you to build a healthy life style. We offer Aerobics, Functional Training, Core Strength, HIIT as part of our classes. Apart from a traditional one to one training we also offer group sessions both online and offline mode. Come join us and transform your life to a healthy life. </p>

                    </div>

                    <div class="mr-lg-auto mt-5 mt-lg-0 mt-md-0 col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-delay="800">
                        <div class="team-thumb">
                            <img src="images/team/varma.jpg" class="img-fluid" alt="Trainer">

                            <div class="team-info d-flex flex-column">

                                <h3>Sathish</h3>
                                <span>Body trainer</span>

                                <ul class="social-icon mt-3">
                                    <li><a href="https://instagram.com/sathishvarma86?igshid=181ldx622k3u4" class="fa fa-instagram"></a></li>
                                    <li><a href="https://www.facebook.com/Sathishvarma86" class="fa fa-facebook"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

            </div>
       </div>
</section>

<!-- CLASS -->
<%let Aerobics = "Aerobic fitness can be defined as the ability of the body’s cardiovascular and muscular systems to provide the necessary energy to sustain activity that uses the large muscle groups over an extended period of time. To reach aerobic fitness, a person must engage in continuous activity like jogging, walking, cycling, stair climbing, rowing, or swimming at an intensity level you can maintain for at least 30 minutes, three to seven days per week.";%>
<%let Core_Strength = "Core exercises train the muscles in your pelvis, lower back, hips and abdomen to work in harmony. This leads to better balance and stability, whether on the playing field or in daily activities. In fact, most sports and other physical activities depend on stable core muscles.";%>
<%let Functional_Training = "Functional fitness exercises are designed to train and develop your muscles to make it easier and safer to perform everyday activities, such as carrying groceries or playing a game of basketball with your kids. And it is beneficial as part of a comprehensive program for older adults to improve balance, ability and muscle strength, and reduce the risk of falls. For example, a functional exercise might involve the elbows, shoulders, spine, hips, knees and ankles.";%>
<%let HIIT = "High-intensity interval training (HIIT), also called high-intensity intermittent exercise (HIIE) or sprint interval training (SIT), is a form of interval training, a cardiovascular exercise strategy alternating short periods of intense anaerobic exercise with less intense recovery periods, until too exhausted to continue. A common formula involves a 2:1 ratio of work to recovery periods, for example, 30–40 seconds of hard sprinting alternated with 15–20 seconds of jogging or walking, repeated to failure.";%>
<%let Virtual_Training = "Covid -19- this pandemic has made our life come to a standstill. People find it hard to go out and exercise due to the risk of contracting the virus. Fitness Forum has consciously taken the decision of providing fitness classes through online sessions, so that people can train from their homes at a convenient time of their choice. We will share the links to the classes a day before and all you need is a internet connection, a phone or a tablet and a yoga mat.";%>


<section class="class section" id="class">
       <div class="container">
            <div class="row">

                    <div class="col-lg-12 col-12 text-center mb-5">
                        <h6 data-aos="fade-up">Get A Perfect Body</h6>

                        <h2 data-aos="fade-up" data-aos-delay="200">Our Training Classes</h2>
                     </div>

                     <div class="mt-5 mt-lg-0 col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-delay="600">
                        <div class="class-thumb">
                            <img src="images/class/Aerobics.jpeg" class="card-img-top"  alt="Class">

                            <div class="class-info">
                                <h3 class="mb-1">Aerobics</h3>

                                <p class="mt-3"><%= Aerobics.substring(0,100)+"..." %> <a href="/aerobics">Read more</a></p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="mt-5 mt-lg-0 col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-delay="600">
                        <div class="class-thumb">
                            <img src="images/class/Core-Strength.jpeg" class="card-img-top" alt="Class">

                            <div class="class-info">
                                <h3 class="mb-1">Core Strength</h3>

                                <p class="mt-3"><%= Core_Strength.substring(0,100)+"..." %> <a href="/core-strength">Read more</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="mt-5 mt-lg-0 mt-md-0 col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-delay="500">
                        <div class="class-thumb">
                            <img src="images/class/Functional-Training.jpeg" class="card-img-top" alt="Class">

                            <div class="class-info">
                                <h3 class="mb-1">Functional Training</h3>
                                <p class="mt-3"><%= Functional_Training.substring(0,100)+"..." %> <a href="/functional-training">Read more</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-delay="400">
                        <div class="class-thumb">
                            <img src="images/class/HIIT.jpeg" class="card-img-top" alt="Class">

                            <div class="class-info">
                                <h3 class="mb-1">HIIT</h3>

                                <p class="mt-3"><%= HIIT.substring(0,100)+"..." %> <a href="/hiit">Read more</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="mt-5 mt-lg-0 col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-delay="600">
                        <div class="class-thumb">
                            <img src="images/class/virtual-training.jpg" class="card-img-top" alt="Class">

                            <div class="class-info">
                                <h3 class="mb-1">Virtual Training</h3>
                                <p class="mt-3"><%= Virtual_Training.substring(0,100)+"..." %> <a href="/virtual-training">Read more</a></p>
                            </div>
                        </div>
                    </div>

            </div>
       </div>
</section>





<%- include("../views/partials/footer"); %>

<!-- Modal -->
<div class="modal fade" id="membershipForm" tabindex="-1" role="dialog" aria-labelledby="membershipFormLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    
    <div class="modal-content">
      <div class="modal-header">
    
        <h2 class="modal-title" id="membershipFormLabel">Membership Form</h2>
    
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    
      <div class="modal-body">
        <form class="membership-form webform" role="form" action="/" method="post">
            <input type="text" class="form-control" name="mf_name" placeholder="user name" required autofocus>
    
            <input type="email" class="form-control" name="mf_email" placeholder="user@email.com" required>
    
            <input type="tel" class="form-control" name="mf_phone" placeholder="enter your phone no" required>
    
            <textarea class="form-control" rows="3" name="mf_message" placeholder="Additional Message"></textarea>
    
            <button type="submit" class="form-control" id="submit-button" name="submit">Submit</button>
    
            <!-- <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="signup-agree">
                <label class="custom-control-label text-small text-muted" for="signup-agree">I agree to the <a href="#">Terms &amp;Conditions</a>
                </label>
            </div> -->
        </form>
      </div>
    
          
    </div>
    </div>